name: Preprocess Data

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  preprocessing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r Membangun_model/requirements.txt

    - name: Run preprocessing script
      run: |
        mkdir -p output
        python Membangun_model/namadataset_preprocessing/automate_Nama-siswa.py

    - name: Commit processed dataset
      run: |
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git add output/processed_dataset.csv
        git commit -m "Auto-update processed dataset" || echo "No changes"

    - name: Push changes
      uses: ad-m/github-push-action@v0.8.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
